{% extends "base.html" %}

{% block content_header %}
    购买渠道配置
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header border-0">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-success tr-add">Add</button>
        </div>
    </div>
    <div class="card-body p-0">
        <table class="table  table-valign-middle">
            <thead>
                <tr>
                    <th width="50%">名称</th>
                    <th width="30%">操作</th>
                </tr>
            </thead>
            <tbody id="dataTbody">
            {% for agent in agents %}
                <tr data-id="{{ agent.id }}">
                    <td class="td-name" data-name="{{ agent.name }}">{{ agent.name }}</td>
                    <td>
                        <button type="button" class="btn btn-default tr-update">修改</button>
                        <button type="button" class="btn btn-success tr-submit d-none">保存</button>
                        <button type="button" class="btn btn-danger tr-delete">删除</button>
                        <button type="button" class="btn btn-warning tr-cancel d-none">取消</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tbody id="cloneTbody" class="d-none">
                <tr class="clone-tr" data-id="0">
                    <td class="td-name" data-name="">
                        <div class="form-inline">
                            <input type="text" name="name" maxlength="16" class="form-control" placeholder="请输入名称" autocomplete="off">
                        </div>
                    </td>
                    <td class="td-action">
                        <button type="button" class="btn btn-default tr-update d-none">修改</button>
                        <button type="button" class="btn btn-success tr-submit">保存</button>
                        <button type="button" class="btn btn-danger tr-delete">删除</button>
                        <button type="button" class="btn btn-warning tr-cancel d-none">取消</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- /.card -->
{% endblock %}

{% block footer_script %}
<script type="text/javascript">
$(function () {
    let dataTbody = $('#dataTbody');

    dataTbody.on('click', '.tr-update', function () {
        let tr = $(this).parents('tr'),
            name_td = tr.find('.td-name'),
            name = name_td.attr('data-name');
        $(this).addClass('d-none');  //隐藏修改按钮
        tr.find('.tr-delete').addClass('d-none');  //隐藏删除按钮
        tr.find('.tr-cancel').removeClass('d-none');  //显示保存按钮
        tr.find('.tr-submit').removeClass('d-none');  //显示保存按钮
        name_td.html('<div class="form-inline"><input type="text" name="name" maxlength="16" class="form-control"' +
            ' value="' + name + '" placeholder="请输入名称" autocomplete="off"></div>')
    });

    dataTbody.on('click', '.tr-submit', function () {
        let tr = $(this).parents('tr'),
            id = tr.attr('data-id');
        agentUpdate(tr, id)
    });

    dataTbody.on('click', '.tr-cancel', function () {
        let tr =$(this).parents('tr'),
            name = tr.children('.td-name').attr('data-name');
        tr.children('.td-name').text(name);
        $(this).addClass('d-none');
        tr.find('.tr-submit').addClass('d-none');
        tr.find('.tr-update').removeClass('d-none');
        tr.find('.tr-delete').removeClass('d-none');
    });

    dataTbody.on('click', '.tr-delete', function () {
        let tr =$(this).parents('tr'),
            agent_id = tr.attr('data-id');
        if(tr.hasClass('clone-tr')){tr.remove()}
        else{
            bootbox.confirm('确认删除吗？', function (result) {
                if(result){
                    tr.find('.tr-delete').attr('disabled', 'disabled');
                    tr.find('.tr-delete').html('<i class="fa fa-spinner fa-pulse"></>');

                    $.ajax({
                        url: '{{ url_for('financing.agent_delete') }}',
                        type: 'GET',
                        dataType: 'json',
                        data: {'id': agent_id},
                        success: function (r) {
                            if(r['code']==0){
                                tr.addClass('tr-danger');
                                setInterval(function () {
                                tr.remove();
                                }, 500);
                            }
                        }

                    })
                }
            })
        }

    })
});


function agentUpdate(tr) {
    let submit_btn = tr.find('.tr-submit'),
        update_btn = tr.find('.tr-update'),
        id = tr.attr('data-id'),
        name_input = tr.find('input[name="name"]'),
        old_name = tr.find('.td-name').attr('data-name'),
        new_name = name_input.val();

    if(!new_name){return false}

    if(new_name == old_name){
        submit_btn.addClass('d-none');  //隐藏保存按钮
        update_btn.removeClass('d-none');  //显示修改按钮
        tr.children('.td-name').text(old_name);
        return true
    }

    submit_btn.html('<i class="fa fa-spinner fa-pulse"></>');  //把保存按钮改成loading图标
    submit_btn.attr('disabled', 'disabled');  //保存按钮disabled

    $.ajax({
        url: '{{ url_for('financing.agent_update') }}',
        type: 'POST',
        dataType: 'json',
        data: {'id': id, 'name': new_name},
        success: function (r) {
            if(r['code']==0){
                tr.addClass('tr-success');
                setInterval(function () {
                    tr.removeClass('tr-success')
                }, 2000);
                update_btn.removeAttr('disabled');
                update_btn.text('修改');
                update_btn.addClass('btn-default');
                update_btn.removeClass('btn-success');
                tr.attr('data-id', r['id']);
                tr.children('.td-name').text(r['name']);
                tr.children('.td-name').attr('data-name', r['name']);
                tr.removeClass('clone-tr');
                submit_btn.addClass('d-none');  //隐藏保存按钮
                submit_btn.text('提交');
                submit_btn.removeAttr('disabled');
                update_btn.removeClass('d-none');  //显示修改按钮
            }
            else{
                tr.addClass('tr-error');
                setInterval(function () {
                    tr.removeClass('tr-error')
                }, 2000);
                name_input.val(old_name);
                submit_btn.text('提交');
                submit_btn.removeAttr('disabled');
                $.growl.error({title: '发生错误', message: r['msg'], location:"tr"});
            }
        }
    })

}
</script>
{% endblock %}
