{% extends "base.html" %}

{% block content_header %}
    持仓明细
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header border-0">
        <h3 class="card-title"></h3>
        <div class="float-left form-inline">
            <select class="form-control" id="type_filter" onchange="tFilter()">
                <option value="">按分类查看</option>
                {% for fp_t in fp_types %}
                <option value="{{ fp_t.id }}" {% if request.args.fp_type == fp_t.id|string %}selected{% endif %}>{{ fp_t.name }}</option>
                {% endfor %}
            </select>&nbsp;
            <select class="form-control" id="agent_filter" onchange="aFilter()">
                <option value="">按渠道查看</option>
                {% for agent in agents %}
                <option value="{{ agent.id }}" {% if request.args.agent == agent.id|string %}selected{% endif %}>{{ agent.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="card-tools">
            <button type="button" class="btn btn-success btn-md tr-add">Add</button>
        </div>
    </div>
    <div class="card-body table-responsive p-0">
        <table class="table table-valign-middle table-editable">
            <thead>
            <tr>
                <th width="25%">理财产品</th>
                <th width="25%">持有金额</th>
                <th width="25%">更新时间</th>
                <th width="25%">操作</th>
            </tr>
            </thead>
            <tbody id="newTbody" class="d-none">
                <tr data-id="0" data-name="" data-type="" data-code="">
                    <td class="td-fp">
                        <div class="form-inline">
                            <input type="text" name="new_fp" class="form-control" placeholder="模糊查询" autocomplete="off">
                        </div>
                    </td>
                    <td>
                        <div class="form-inline">
                            <input type="number" name="amount" class="form-control" step="1" min="-99999" max="999999" autocomplete="off">
                        </div>
                    </td>
                    <td>
                         <div class="form-inline">
                             <select class="form-control" name="new_agent">
                             <option value="">购买渠道</option>
                                 {% for agent in agents %}
                                 <option value="{{ agent.id }}">{{ agent.name }}</option>
                                 {% endfor %}
                             </select>
                         </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success tr-submit">保存</button>
                        <button type="button" class="btn btn-danger tr-delete">删除</button>
                    </td>

                </tr>
            </tbody>
            <tbody id="dataTbody">
            {% for ua in uas %}
                <tr data-id="{{ ua.id }}" data-amount="{{ ua.last_amount.amount_yuan }}" data-update_time="{{ ua.last_amount.update_time }}">
                    <td>{{ ua.agent.name }}:{{ ua.financial_product.name }}</td>
                    <td class="td-amount">{{ ua.last_amount.amount_yuan }}</td>
                    <td class="td-update_time">{{ ua.last_amount.update_time }}</td>
                    <td>
                        <button type="button" class="btn btn-default tr-update">修改</button>
                        <button type="button" class="btn btn-success tr-submit d-none">保存</button>
                        <button type="button" class="btn btn-danger tr-delete">删除</button>
                        <button type="button" class="btn btn-warning tr-cancel d-none">取消</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

{% block footer_script %}
<script type="text/javascript">
let fp_list = [{% for fp in fps %}'{{ fp.name }}',{% endfor %}];
$(function () {
    let table = $('.table-editable');

    table.on('click', '.tr-submit', function () {
        let tr = $(this).parents('tr');
        uaUpdate(tr)
    });


    $('#dataTbody').on('keyup', 'input[name="amount"]', function () {
        if(event.keyCode==13){
            $(this).parents('tr').find('.tr-submit').click()
        }
    });

    table.on('click', '.tr-update', function(){
        let tr = $(this).parents('tr'),
            current_amount = tr.attr('data-amount');

        tr.find('.tr-update').addClass('d-none');
        tr.find('.tr-submit').removeClass('d-none');
        tr.find('.tr-delete').addClass('d-none');
        tr.find('.tr-cancel').removeClass('d-none');

        tr.find('.td-amount').html('<div class="form-inline"><input type="number" value="'+ current_amount +'"' +
            ' name="amount" class="form-control" step="1" min="-99999" max="99999999" autocomplete="off"></div>');
    });

    table.on('click', '.tr-cancel', function(){
        let tr = $(this).parents('tr'),
            amount = tr.attr('data-amount'),
            amount_td = tr.find('.td-amount');
        amount_td.text(amount);
        tr.find('.tr-update').removeClass('d-none');
        tr.find('.tr-submit').addClass('d-none');
        tr.find('.tr-delete').removeClass('d-none');
        tr.find('.tr-cancel').addClass('d-none');
    });

    table.on('click', '.tr-delete', function () {
        let tr =$(this).parents('tr'),
            id = tr.attr('data-id');
        if(id=='0'){
            resetNewTbody()
        }
        else{
            tr.addClass('tr-danger');
            bootbox.confirm('确认删除吗？', function (result) {
                if(result){
                    tr.find('.tr-delete').attr('disabled', 'disabled');
                    tr.find('.tr-delete').html('<i class="fa fa-spinner fa-pulse"></>');

                    $.ajax({
                        url: '{{ url_for('financing.holdings_delete') }}',
                        type: 'GET',
                        dataType: 'json',
                        data: {'id': id},
                        success: function (r) {
                            if(r['code']==0){
                                setInterval(function () {
                                tr.remove();
                                }, 300);
                            }
                        }

                    })
                }
                else{
                    tr.removeClass('tr-danger')
                }
            })
        }

    });

    $('input[name="new_fp"]').autocomplete({
        lookup: fp_list,
        autoSelectFirst: true
    });
});

function resetNewTbody() {
    let tbody = $('#newTbody');
    tbody.addClass('d-none');  //隐藏newTbody
    tbody.find('input').each(function () {$(this).val('')});
    tbody.find('select').val('');
    tbody.find('.tr-submit').removeAttr('disabled');
    tbody.find('.tr-submit').text('保存');
}

function uaUpdate(tr) {
    let error_ct = 0,
        id = tr.attr('data-id'),
        submit_btn = tr.find('.tr-submit'),
        update_btn = tr.find('.tr-update'),
        cancel_btn = tr.find('.tr-cancel'),
        delete_btn = tr.find('.tr-delete'),
        fp = tr.find('input[name="new_fp"]').val(),
        agent = tr.find('select[name="new_agent"]').val(),
        amount = tr.find('input[name="amount"]').val();

    function formError(title, msg){
        tr.addClass('tr-error');
        setInterval(function () {
            tr.removeClass('tr-error');
        }, 1000);
        $.growl.error({title: title, message: msg, location:"tr"});
        error_ct += 1
    }
    if(tr.find('input[name="new_fp"]').length>0){
        if(fp_list.indexOf(fp) == -1){
            formError('理财产品错误', '请选择已有的理财产品，也可以添加新的理财产品')
        }
    }
    if(!amount){
        formError('金额错误', '请输入持有金额')
    }
    if(tr.find('select[name="new_agent"]').length>0){
        if(!agent){
            formError('购买渠道错误', '请选择购买渠道')
        }
    }
    if(error_ct>0){return false}

    submit_btn.html('<i class="fa fa-spinner fa-pulse"></>');  //把保存按钮改成loading图标
    submit_btn.attr('disabled', 'disabled');  //保存按钮disabled

    $.ajax({
        url: '{{ url_for('financing.holdings_update') }}',
        type: 'POST',
        dataType: 'json',
        data: {'id': id, 'fp': fp, 'agent': agent, 'amount': amount},
        success: function (r) {
            if(r['code']==0){
                if (id==0){
                    resetNewTbody();
                    $('#dataTbody').prepend('' +
                        '<tr data-id="'+ r['id'] +'" data-amount="'+ r['amount'] +'">' +
                        '<td>'+ r['name'] + '</td>' +
                        '<td class="td-amount">'+ r['amount'] +'</td>' +
                        '<td class="td-update_time">'+ r['update_time'] +'</td>' +
                        '<td>' +
                        '    <button type="button" class="btn btn-default tr-update">修改</button>' +
                        '    <button type="button" class="btn btn-success tr-submit d-none">保存</button>' +
                        '    <button type="button" class="btn btn-danger tr-delete">删除</button>' +
                        '    <button type="button" class="btn btn-warning tr-cancel d-none">取消</button>' +
                        '</td>' +
                        '</tr>')
                }
                else{
                    tr.addClass('tr-success');
                    setInterval(function () {
                        tr.removeClass('tr-success')
                    }, 1000);
                    tr.find('.td-amount').text(r['amount']);
                    tr.find('.td-update_time').text(r['update_time']);
                    update_btn.removeClass('d-none');
                    cancel_btn.addClass('d-none');
                    delete_btn.removeClass('d-none');
                    tr.removeClass('clone-tr');
                    submit_btn.addClass('d-none');  //隐藏保存按钮
                    submit_btn.text('提交');
                    submit_btn.removeAttr('disabled');
                }

            }
            else{
                formError('发生错误', r['msg']);
                submit_btn.text('提交');
                submit_btn.removeAttr('disabled');
            }
        }
    })
}

function tFilter() {
    let type_id = $('#type_filter').val();
    window.location.href = '?fp_type=' + type_id
}

function aFilter() {
    let type_id = $('#agent_filter').val();
    window.location.href = '?agent=' + type_id
}
</script>
{% endblock %}