{% extends "base.html" %}

{% block content_header %}
    持有明细
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header border-0">
        <h3 class="card-title"></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-success btn-md tr-add">Add</button>
        </div>
    </div>
    <div class="card-body table-responsive p-0">
        <table class="table table-valign-middle table-editable">
            <thead>
            <tr>
                <th width="30%">理财产品</th>
                <th width="20%">持有金额</th>
                <th width="20%">更新时间</th>
                <th width="30%">操作</th>
            </tr>
            </thead>
            <tbody id="newTbody" class="d-none">
                <tr data-id="0" data-name="" data-type="" data-code="">
                    <td class="td-fp">
                        <div class="form-inline">
                            <input type="text" name="fp" class="form-control" placeholder="模糊查询" autocomplete="off">
                        </div>
                    </td>
                    <td>
                        <div class="form-inline">
                            <input type="number" name="amount" class="form-control" step="1" min="-99999" max="999999" autocomplete="off">
                        </div>
                    </td>
                    <td>
                         <div class="form-inline">
                             <select class="form-control">
                             <option value="">购买渠道</option>
                                 {% for agent in agents %}
                                 <option value="{{ agent.id }}">{{ agent.name }}</option>
                                 {% endfor %}
                             </select>
                         </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success tr-submit">保存</button>
                        <button type="button" class="btn btn-danger tr-delete">删除</button>
                    </td>

                </tr>
            </tbody>
            <tbody id="dataTbody">
            {% for ua in uas %}
                <tr data-id="{{ ua.id }}">
                    <td>{{ ua.financial_product.name }}</td>
                    <td>{{ ua.last_amount.amount }}</td>
                    <td>{{ ua.last_amount.update_time }}</td>
                    <td>
                        <button type="button" class="btn btn-default tr-update">修改</button>
                        <button type="button" class="btn btn-success tr-submit d-none">保存</button>
                        <button type="button" class="btn btn-danger tr-delete">删除</button>
                        <button type="button" class="btn btn-warning tr-cancel d-none">取消</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

{% block footer_script %}
<script type="text/javascript">
$(function () {
    let table = $('.table-editable');

    table.on('click', '.tr-submit', function () {
        let tr = $(this).parents('tr');
        ftUpdate(tr)
    });

    table.on('click', '.tr-update', function(){
        let tr = $(this).parents('tr'),
            name_td = tr.find('.td-name'),
            name = tr.attr('data-name');
        name_td.html('<input type="text" name="name" maxlength="32" class="form-control"' +
            ' value="' + name + '" placeholder="请输入名称" autocomplete="off">');
        tr.find('.tr-update').addClass('d-none');
        tr.find('.tr-submit').removeClass('d-none');
        tr.find('.tr-delete').addClass('d-none');
        tr.find('.tr-cancel').removeClass('d-none');
    });

    table.on('click', '.tr-cancel', function(){
        let tr = $(this).parents('tr'),
            name_td = tr.find('.td-name'),
            name = tr.attr('data-name');
        name_td.text(name);
        tr.find('.tr-update').removeClass('d-none');
        tr.find('.tr-submit').addClass('d-none');
        tr.find('.tr-delete').removeClass('d-none');
        tr.find('.tr-cancel').addClass('d-none');
    });

    table.on('click', '.tr-delete', function () {
        let tr =$(this).parents('tr'),
            id = tr.attr('data-id');
        if(id=='0'){
            resetNewTbody()
        }
        else{
            tr.addClass('tr-danger');
            bootbox.confirm('确认删除吗？', function (result) {
                if(result){
                    tr.find('.tr-delete').attr('disabled', 'disabled');
                    tr.find('.tr-delete').html('<i class="fa fa-spinner fa-pulse"></>');

                    $.ajax({
                        url: '{{ url_for('financing.fp_delete') }}',
                        type: 'GET',
                        dataType: 'json',
                        data: {'id': id},
                        success: function (r) {
                            if(r['code']==0){

                                setInterval(function () {
                                tr.remove();
                                }, 300);
                            }
                        }

                    })
                }
                else{
                    tr.removeClass('tr-danger')
                }
            })
        }

    });

    let fps = [
        {% for fp in fps %}
        { value: '{{ fp.name }}', data: '{{ fp.id }}' },
        {% endfor %}
    ];

    $('#newTbody input[name="fp"]').autocomplete({
        lookup: fps,
        autoSelectFirst: true,
        onSelect: function (suggestion) {
            //alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
        }
    });
});

function resetNewTbody() {
    let tbody = $('#newTbody');
    tbody.addClass('d-none');  //隐藏newTbody
    tbody.find('input').each(function () {$(this).val('')});
    tbody.find('select').val('')
}

function ftUpdate(tr) {
    let id = tr.attr('data-id'),
        submit_btn = tr.find('.tr-submit'),
        update_btn = tr.find('.tr-update'),
        cancel_btn = tr.find('.tr-cancel'),
        delete_btn = tr.find('.tr-delete'),
        name_input = tr.find('input[name="name"]'),
        code_input = tr.find('input[name="code"]'),
        old_name = tr.attr('data-name'),
        new_name = name_input.val(),
        new_type = tr.find('select').val(),
        new_code = code_input.val();
    if(!new_name){return false}
    if(new_name == old_name){
        submit_btn.addClass('d-none');  //隐藏保存按钮
        update_btn.removeClass('d-none');  //显示修改按钮
        cancel_btn.addClass('d-none');
        delete_btn.removeClass('d-none');
        tr.children('.td-name').text(old_name);
        return true
    }

    if(new_type == 3 || new_type == 4){
        if (!new_code){
            tr.addClass('tr-error');
            setInterval(function () {
                tr.removeClass('tr-error')
            }, 1000);
            $.growl.error({title: '发生错误', message: '股票或基金请填写代码', location:"tr"});
            return false
        }
    }

    submit_btn.html('<i class="fa fa-spinner fa-pulse"></>');  //把保存按钮改成loading图标
    submit_btn.attr('disabled', 'disabled');  //保存按钮disabled

    $.ajax({
        url: '{{ url_for('financing.fp_update') }}',
        type: 'POST',
        dataType: 'json',
        data: {'id': id, 'name': new_name, 'fp_type': new_type, 'fp_code': new_code},
        success: function (r) {
            if(r['code']==0){
                tr.addClass('tr-success');
                setInterval(function () {
                    tr.removeClass('tr-success')
                }, 1000);
                tr.attr('data-id', r['id']);
                tr.attr('data-name', r['name']);
                tr.find('.td-name').text(r['name']);
                tr.find('.td-type').text(r['fp_type']);
                tr.find('.td-code').text(r['fp_code']);
                update_btn.removeClass('d-none');
                cancel_btn.addClass('d-none');
                delete_btn.removeClass('d-none');
                tr.removeClass('clone-tr');
                submit_btn.addClass('d-none');  //隐藏保存按钮
                submit_btn.text('提交');
                submit_btn.removeAttr('disabled');
            }
            else{
                tr.addClass('tr-error');
                setInterval(function () {
                    tr.removeClass('tr-error')
                }, 1000);
                submit_btn.text('提交');
                submit_btn.removeAttr('disabled');
                $.growl.error({title: '发生错误', message: r['msg'], location:"tr"});
            }
        }
    })
}
</script>
{% endblock %}