{% extends "base.html" %}

{% block content_header %}
    家庭理财
{% endblock %}

{% block content %}

{% if family %}
<div class="card p-3 mb-3">
    <div class="row">
        <div class="col-12">
            <h4>
                <i class="fas fa-home"></i>
                <span id="family_name">
                    {{ family.name }}
                    <button type="button" class="btn btn-default btn-sm family-name"><i class="fas fa-pencil-alt"></i></button>
                </span>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <address>
                <p><b>创建人:</b> {{ family.parent }}</p>
                <p><b>创建时间:</b> {{ family.create_time }}</p>
                <p><b>成员数量:</b> {{ family_summary.count }}</p>
            </address>
        </div>
        <div class="col-sm-6">
            <address>
                <p><b>家庭目标:</b> <span id="family_goal">{{ family_summary.goal_yuan }} <button type="button" class="btn btn-default btn-xs family-goal"><i class="fas fa-pencil-alt"></i></button></span></p>
                <p><b>家庭资产:</b> {{ family_summary.total_amount }}</p>
                <p><b>理财产品:</b> {{ family_summary.fp_count }}</p>
            </address>
        </div>
    </div>
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-valign-middle">
            <thead>
            <tr>
                <th>成员</th>
                <th>理财产品数量</th>
                <th>资产</th>
                <th>目标达成</th>
                <th>最后更新时间</th>
            </tr>
            </thead>
            <tbody>
            {% for m in members %}
                <tr>
                    <td>
                        <img src="{{ m.avatar }}" class="img-circle img-size-32 mr-2" alt="">
                        {{ m.username }}
                    </td>
                    <td>{{ m.fp_count }}</td>
                    <td>{{ m.total_amount }}</td>
                    <td>
                        <div class="progress progress-sm active">
                            <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                                 style="width: {{ m.family_goal_rate }}%" title="{{ m.family_goal_rate }}%">
                            </div>
                        </div>
                    </td>
                    <td>{{ m.last_update }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td><b>汇总</b></td>
                    <td><b>{{ family_summary.fp_count }}</b></td>
                    <td><b>{{ family_summary.total_amount }}</b></td>
                    <td> <div class="progress progress-sm active">
                        <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                             style="width: {{ family_summary.goal_rate }}%" title="{{family_summary.goal_rate}}%">
                        </div>
                    </div></td>
                    <td></td>
                </tr>
            </tfoot>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="modal-title">创建家庭理财</h4>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="familyName">家庭理财项目名称</label>
                    <input type="text" id="familyName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="familyGoal">目标(元)</label>
                    <input type="number" id="familyGoal" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-md" id="familySubmit" type="button">提交</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="modal-title">加入家庭理财</h4>
            </div>
            <div class="card-body">
                需要家庭成员的邀请才能加入。
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block footer_script %}
<script type="text/javascript">
$(function () {
    $('#familySubmit').click(function () {
        let name = $('#familyName').val(),
            goal = $('#familyGoal').val();
        if(!name) {swalError('请输入家庭理财项目的名称'); return false}
        if(!goal) {swalError('请输入家庭理财项目的目标'); return false}

        $.ajax({
            url: '{{ url_for('user.family_create') }}',
            type: 'POST',
            dataType: 'json',
            data:{'name': name, 'goal': goal},
            success: function (r) {
                if(r['code']==0){location.reload();}
                else{swalError(r['msg'])}
            }
        })
    });

    {% if family %}
    let body = $('body');
    body.on('click', '.family-name', function () {
        $('#family_name').html('<input type="text" id="family_name_input" maxlength="20" data-value={{ family.name }} value="{{ family.name }}">');
        $('#family_name_input').focus();
    });

    body.on('blur', '#family_name_input', function () {
        let new_family_name = $(this).val(),
            old_family_name = $(this).attr('data-value');
        if (new_family_name && new_family_name != old_family_name){
            bootbox.confirm('名称已改变，需要保存吗?', function (result) {
                if(result){
                    alert('yes')
                }
                else{
                    $('#family_name').html('{{ family.name }} <button type="button" class="btn btn-default btn-sm family-name"><i class="fas fa-pencil-alt"></i></button>')
                }
            })
        }
        else{
            $('#family_name').html('{{ family.name }} <button type="button" class="btn btn-default btn-sm family-name"><i class="fas fa-pencil-alt"></i></button>')
        }
    });

    body.on('click', '.family-goal', function () {
        $('#family_goal').html('<input type="number" id="family_goal_input" style="height:100%;" min=0 data-value={{ family_summary.goal_yuan }} value="{{ family_summary.goal_yuan }}">');
        $('#family_goal_input').focus();
    });

    body.on('blur', '#family_goal_input', function () {
        let new_family_goal = $(this).val(),
            old_family_goal = $(this).attr('data-value');
        if (new_family_goal && new_family_goal != old_family_goal){
            bootbox.confirm('目标已改变，需要保存吗?', function (result) {
                if(result){
                    alert('yes')
                }
                else{
                    $('#family_goal').html('{{ family_summary.goal_yuan }} <button type="button" class="btn btn-default btn-xs family-goal"><i class="fas fa-pencil-alt"></i></button>')
                }
            })
        }
        else{
            $('#family_goal').html('{{ family_summary.goal_yuan }} <button type="button" class="btn btn-default btn-xs family-goal"><i class="fas fa-pencil-alt"></i></button>')
        }
    });
    {% endif %}

});
</script>
{% endblock %}
