{% extends "base.html" %}

{% block content_header %}
    我的持仓
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header border-0">
        <div class="float-left form form-inline">
            <div class="form-group">
                <select class="form-control" id="type_filter" onchange="typeFilter()">
                    <option value="">按分类</option>
                    {% for fpt_id, fpt_name in fp_types.items() %}
                    <option value="{{ fpt_id }}" {% if request.args.fp_type == fpt_id|string %}selected{% endif %}>{{ fpt_name }}</option>
                    {% endfor %}
                </select>
            </div>&nbsp;
            <div class="form-group">
                <select class="form-control" id="agent_filter" onchange="agentFilter()">
                    <option value="">按渠道</option>
                    {% for agent_id, agent_name in user_agents.items() %}
                    <option value="{{ agent_id }}" {% if request.args.agent == agent_id|string %}selected{% endif %}>{{ agent_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="card-tools">
            <button type="button" class="btn btn-default btn-md tr-todo"><i class="fas fa-tasks"></i></button>
            <button type="button" class="btn btn-success btn-md tr-add">Add</button>
        </div>
    </div>
    <div class="card-body table-responsive p-0">
        <table class="table table-valign-middle table-editable">
            <thead>
            <tr>
                <th style="width:15%">渠道</th>
                <th style="width:20%">理财产品</th>
                <th style="width:25%">持有金额</th>
                <th style="width:20%">更新时间</th>
                <th style="width:20%">操作</th>
            </tr>
            </thead>
            <tbody id="newTbody" class="d-none">
                <tr data-id="0" data-name="" data-type="" data-code="">
                    <td>
                         <select class="form-control" name="new_agent">
                             <option value="">渠道</option>
                             {% for agent_id, agent_name in agents.items() %}
                             <option value="{{ agent_id }}">{{ agent_name }}</option>
                              {% endfor %}
                         </select>
                    </td>
                    <td>
                        <input type="text" name="new_fp" class="form-control" placeholder="模糊查询" autocomplete="off">
                    </td>
                    <td>
                        <input type="number" name="amount" class="form-control" step="any" min="-99999" max="9999999" autocomplete="off">
                    </td>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-warning tr-cancel"><i class="fa fa-undo"></i></button>
                        <button type="button" class="btn btn-success tr-submit"><i class="fa fa-check"></i></button>
                    </td>

                </tr>
            </tbody>
            <tbody id="dataTbody" data-todo="off">
            {% for ua in uas %}
                <tr data-id="{{ ua.id }}" data-amount="{{ ua.last_amount.amount_yuan }}" data-update_time="{{ ua.last_amount.update_time }}">
                    <td>{{ ua.agent.name }}</td>
                    <td>{{ ua.financial_product.name }}</td>
                    <td class="td-amount">{{ ua.last_amount.amount_yuan }}</td>
                    <td class="td-update_time">{{ ua.last_amount.update_time_str }}</td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

{% block footer_script %}
<script type="text/javascript">
let fp_list = [{% for fp in fps %}'{{ fp.name }}',{% endfor %}];
$(function(){
    let table=$('.table-editable');

    $('#dataTbody tr').each(function(){
        $(this).children('td:last').html(update_btn_t_html+cancel_btn_f_html+submit_btn_f_html)
    });

    table.on('click','.tr-submit',function(){
        let tr=$(this).parents('tr');
        uaUpdate(tr)
    });

    $('#dataTbody').on('keyup','input[name="amount"]',function(){
        if(event.keyCode===13){$(this).parents('tr').find('.tr-submit').click()}
    });

    table.on('click','.tr-update',function(){
        let tr=$(this).parents('tr'),
            current_amount=tr.attr('data-amount');
        tr.find('.tr-update').addClass('d-none');
        tr.find('.tr-submit').removeClass('d-none');
        tr.find('.tr-cancel').removeClass('d-none');
        tr.find('.td-amount').html('<input type="number" value="'+current_amount+'" name="amount" class="form-control" step="any" min="-99999" max="9999999" onfocus="this.select();" onmouseup="event.preventDefault()" autocomplete="off">');
        tr.find('input:first').focus();
    });

    table.on('click','.tr-cancel',function(){
        let tr=$(this).parents('tr'),
            id=tr.attr('data-id'),
            amount=tr.attr('data-amount'),
            amount_td=tr.find('.td-amount');
        if(id==='0'){resetNewTbody();return false}

        amount_td.text(amount);
        tr.find('.tr-update').removeClass('d-none');
        tr.find('.tr-submit').addClass('d-none');
        tr.find('.tr-cancel').addClass('d-none');
    });

    $('input[name="new_fp"]').autocomplete({lookup:fp_list,autoSelectFirst:true});
});

function resetNewTbody(){
    let tbody=$('#newTbody'),
        submit_btn=tbody.find('.tr-submit');
    tbody.addClass('d-none'); // 隐藏newTbody
    tbody.find('input').each(function(){$(this).val('')});
    tbody.find('select').val('');
    resumeBtn(submit_btn,'s'); // 恢复提交按钮样式
}

function uaUpdate(tr){
    let error_ct=0,
        id=tr.attr('data-id'),
        [submit_btn,update_btn,cancel_btn,_]=getBtns(tr),
        fp=tr.find('input[name="new_fp"]').val(),
        agent=tr.find('select[name="new_agent"]').val(),
        amount=tr.find('input[name="amount"]').val(),
        todo_mode=$('#dataTbody').attr('data-todo');

    if(id==='0'){
        if(!fp_list.includes(fp)){trError(tr,'请选择已有的理财产品，没有的话请先添加');error_ct+=1}
        if(!agent){trError(tr,'请选择购买渠道');error_ct+=1}
    }
    if(!amount){trError(tr,'请输入持有金额');error_ct+=1}
    if(error_ct>0){return false}
    disableBtn(submit_btn); // 禁用保存按钮

    $.ajax({
        url:'{{ url_for("user.holdings_update") }}',
        type:'POST',
        dataType:'json',
        data:{'id':id,'fp':fp,'agent':agent,'amount':amount},
        success:function(r){
            if(r['code']===0){
                if(id==='0'){
                    resetNewTbody();
                    $('#dataTbody').prepend(''+
                        '<tr data-id="'+r['id']+'" data-amount="'+r['amount']+'" data-update_time="'+r['update_time']+'" class="tr-'+r['id']+'">' +
                        '<td>'+r['agent']+'</td>'+
                        '<td>'+r['name']+'</td>'+
                        '<td class="td-amount">'+r['amount']+'</td>'+
                        '<td class="td-update_time">'+r['update_time']+'</td>'+
                        '<td>'+update_btn_t_html+cancel_btn_f_html+submit_btn_f_html+'</td>'+
                        '</tr>');
                    let new_tr=$('#dataTbody').find('.tr-'+r['id']);
                    trSuccess(new_tr)
                    return true
                }
                else{
                    if(todo_mode==='on'){tr.addClass('tr-success');trRemove(tr);return true}
                    if(r['is_delete']){tr.addClass('tr-danger');trRemove(tr)}
                    trSuccess(tr);
                    tr.attr('data-amount',r['amount']);
                    tr.attr('data-update_time',r['update_time']);
                    tr.find('.td-amount').text(r['amount']);
                    tr.find('.td-update_time').text(r['update_time']);
                    showBtns([update_btn]);
                    hideBtns([cancel_btn,submit_btn]);
                    resumeBtn(submit_btn,'s'); // 恢复保存按钮
                }
            }else{trError(tr,r['msg']);resumeBtn(submit_btn,'s')}
        }
    })
}
</script>
{% endblock %}