{% extends "base.html" %}

{% block content_header %}
    持仓走势
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header border-0">
        <h3 class="card-title"></h3>
        <div class="form-inline float-left">
            <select class="form-control" id="uaFilter">
                <option value="">选择产品</option>
                {% for ua in uas %}
                <option value="{{ ua.id }}" {% if request.args.ua == ua.id|string %}selected{% endif %}>{{ ua.fp_name }}({{ ua.update_time.strftime('%Y-%m-%d') }})</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="card-body table-responsive p-0">
        <div class="chart">
            <canvas id="uaTrend" style="height:300px; min-height:300px"></canvas>
        </div>
    </div>
</div>


{% endblock %}

{% block footer_script %}
<script type="text/javascript">
$(function () {
    let areaChartOptions = {
      maintainAspectRatio : false,
      responsive : true,
        legend: {display: false},
        scales: {
          xAxes: [{
              gridLines : {display : false}
          }],
            yAxes: [{
              gridLines : {display : false}
          }]
      }
    };
    let areaChartCanvas = $('#uaTrend').get(0).getContext('2d');

    $('#uaFilter').change(function () {
        let ua_id = $(this).val();
        $.ajax({
            url: '{{ url_for('analyse.trend_ua', ua_id=0) }}'.replace(0, ua_id),
            type: 'GET',
            dataType: 'json',
            success: function(r){

                $("html,body").animate({scrollTop:$("#uaTrend").offset().top},1000);
                let areaChartData = {
                    labels  : r['labels'],
                    datasets: [
                        {
                            backgroundColor     : 'rgba(60,141,188,0.9)',
                            borderColor         : 'rgba(60,141,188,0.8)',
                            pointRadius          : false,
                            pointColor          : '#3b8bba',
                            pointStrokeColor    : 'rgba(60,141,188,1)',
                            pointHighlightFill  : '#fff',
                            pointHighlightStroke: 'rgba(60,141,188,1)',
                            data                : r['datas']
                        },
                    ]
                };
                let areaChart = new Chart(areaChartCanvas, {
                    type: 'line',
                    data: areaChartData,
                    options: areaChartOptions
                })
            },
        })
    });

});

</script>
{% endblock %}