<!-- Brand Logo -->
<a href="{{ url_for('home.dashboard') }}" class="brand-link text-center">
  <span class="brand-text font-weight-light">Financing <b>LOADMEMORY</b></span>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                <a href="{{ url_for('home.dashboard') }}" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>

            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-piggy-bank"></i>
                    <p>
                        理财
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{{ url_for('financing.agent_index') }}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>购买渠道</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('financing.fp_index') }}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>理财产品</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('financing.holdings') }}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>持仓明细</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-chart-pie"></i>
                    <p>
                        数据分析
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{{ url_for('analyse.scale') }}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>占比分析</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('analyse.trend') }}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>持仓走势</p>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
      <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->