{% extends "base.html" %}

{% block content_header %}
    Dashboard
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-coins"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">持仓金额</span>
                <span class="info-box-number">
                    {{ total_amount }}
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>

    <div class="col-6 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-search-dollar"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">理财产品</span>
                <span class="info-box-number">
                    {{ fp_count }}
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>

    <div class="col-6 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-clock"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">最后更新</span>
                <span class="info-box-number">
                    {% if last_update %}
                        {{ last_update.strftime('%m-%d %H:%M') }}
                    {% else %}
                        <small>还未提交数据</small>
                    {% endif %}
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>

    <div class="col-6 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-thumbs-up"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">目标 <b>{{ target }}</b></span>
                <div class="progress">
                    <div title="{{ target_rate }}%" class="progress-bar" style="width: {{ target_rate }}%"></div>
              </div>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>

</div>

<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="card-header border-0">
                <h3 class="card-title">持仓类型</h3>
                <div class="card-tools">
                    <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-valign-middle">
                    <thead>
                        <tr>
                            <th>类型</th>
                            <th>持仓数量</th>
                            <th>持仓金额</th>
                            <th>持仓金额占比</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for fpt in fpt_list %}
                    <tr>
                        <td>{{ fpt.name }}</td>
                        <td>{{ fpt.count }}</td>
                        <td>{{ fpt.amount }}</td>
                        <td>{{ fpt.amount_rate }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

          </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="card-header border-0">
                <h3 class="card-title">理财渠道</h3>
                <div class="card-tools">
                    <a href="#" class="btn btn-tool btn-sm">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-valign-middle">
                    <thead>
                        <tr>
                            <th>渠道名称</th>
                            <th>持仓数量</th>
                            <th>持仓金额</th>
                            <th>持仓金额占比</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for agent in agent_list %}
                    <tr>
                        <td>{{ agent.name }}</td>
                        <td>{{ agent.count }}</td>
                        <td>{{ agent.amount }}</td>
                        <td>{{ agent.amount_rate }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
          </div>
        </div>
    </div>

</div>

<!-- /.card -->

{% endblock %}
