{% extends "base.html" %}

{% block content_header %}
    Dashboard
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-hand-holding-usd"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">持仓金额</span>
                <span class="info-box-number">
                    {{ asset_summary.total_amount | round(2, 'floor') }}
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-search-dollar"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">理财产品</span>
                <span class="info-box-number">
                    {{ asset_summary.fp_count }}
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-clock"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">最后更新</span>
                <span class="info-box-number">
                    {% if asset_summary.last_update %}
                        {{ asset_summary.last_update.strftime('%m-%d %H:%M') }}
                    {% else %}
                        <small>还未提交数据</small>
                    {% endif %}
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-thumbs-up"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">目标 <b>{{ asset_summary.goal }}</b></span>
                <div class="progress">
                    <div title="{{ asset_summary.goal_rate }}%" class="progress-bar" style="width: {{ asset_summary.goal_rate }}%"></div>
              </div>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>

</div>

<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">渠道占比</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool dashboard-pie-view-detail" title="查看详情">
                      <i class="fas fa-list"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="chart-responsive">
                    <canvas id="agentChart" height="150"></canvas>
                </div>
                <!-- ./chart-responsive -->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>

    <div class="col-md-4 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">类型占比</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool dashboard-pie-view-detail" title="查看详情">
                      <i class="fas fa-list"></i>
                  </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="chart-responsive">
                    <canvas id="fptypeChart" height="150"></canvas>
                </div>
                <!-- ./chart-responsive -->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>



{% endblock %}


{% block footer_script %}
<script type="text/javascript">
$(function () {
    fill_dashboard_agent_pie([{% for name, amount, _ in asset_summary.get('agent_tuples') %}'{{ name }}',{% endfor %}], [{% for name, amount, _ in asset_summary.get('agent_tuples') %}'{{ amount|round(2, 'floor') }}',{% endfor %}]);
    fill_dashboard_fptype_pie([{% for name, amount, _ in asset_summary.get('fptype_tuples') %}'{{ name }}',{% endfor %}], [{% for name, amount, _ in asset_summary.get('fptype_tuples') %}'{{ amount|round(2, 'floor') }}',{% endfor %}]);
});
</script>
{% endblock %}