{% extends "base.html" %}

{% block content_header %}
    理财产品配置
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header border-0">
        <h3 class="card-title"></h3>

        <div class="form-inline float-left">
            <select class="form-control" id="type_filter" onchange="tFilter()">
                <option value="">按分类查看</option>
                {% for fpt_id, fpt_name in fp_types.items() %}
                <option value="{{ fpt_id }}" {% if request.args.type == fpt_id|string %}selected{% endif %}>{{ fpt_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="card-tools">
            <button type="button" class="btn btn-success btn-md tr-clone">Add</button>
        </div>
    </div>
    <div class="card-body table-responsive p-0">
        <table class="table table-valign-middle">
            <thead>
            <tr>
                <th style="width:35%">名称</th>
                <th style="width:20%">类型</th>
                <th style="width:10%">代码</th>
                <th style="width:35%">操作</th>
            </tr>
            </thead>
            <tbody id="dataTbody">
            {% for fp in fps %}
                <tr data-id="{{ fp.id }}" data-name="{{ fp.name }}" data-type-id={{ fp.type.id }} data-type-name="{{ fp.type.name }}" data-code="{{ fp.code|default('', True) }}">
                    <td class="td-name">{{ fp.name }}</td>
                    <td class="td-type">{{ fp.type.name }}</td>
                    <td class="td-code">{{ fp.code|default('', True) }}</td>
                    <td>
                        <button type="button" class="btn btn-info tr-update"><i class="fas fa-pencil-alt"></i></button>
                        <button type="button" class="btn btn-success tr-submit d-none"><i class="fa fa-check"></i></button>
                        <button type="button" class="btn btn-danger tr-delete"><i class="fas fa-trash"></i></button>
                        <button type="button" class="btn btn-warning tr-cancel d-none"><i class="fa fa-undo"></i></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tbody id="cloneTbody" class="d-none">
                <tr class="clone-tr" data-id="0" data-name="" data-type="" data-code="">
                    <td class="td-name">
                        <input type="text" name="name" class="form-control" maxlength="32" placeholder="请输入名称" autocomplete="off">
                    </td>
                    <td class="td-type">
                        <select class="form-control" name="type">
                            {% for fpt_id, fpt_name in fp_types.items() %}
                            <option value="{{ fpt_id }}">{{ fpt_name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="td-code">
                        <input type="text" name="code" class="form-control" maxlength="6" minlength="6" placeholder="基金/股票" autocomplete="off">
                    </td>
                    <td>
                        <button type="button" class="btn btn-info tr-update d-none"><i class="fas fa-pencil-alt"></i></button>
                        <button type="button" class="btn btn-success tr-submit"><i class="fa fa-check"></i></button>
                        <button type="button" class="btn btn-danger tr-delete"><i class="fas fa-trash"></i></button>
                        <button type="button" class="btn btn-warning tr-cancel d-none"><i class="fa fa-undo"></i></button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

{% block footer_script %}
<script type="text/javascript">
$(function () {
    let dataTbody = $('#dataTbody');
    let type_html = '<select class="form-control" name="type">{% for fpt_id, fpt_name in fp_types.items() %}<option value="{{ fpt_id }}">{{ fpt_name }}</option>{% endfor %}</select>';

    dataTbody.on('click', '.tr-submit', function () {
        let tr = $(this).parents('tr');
        fpUpdate(tr)
    });

    dataTbody.on('click', '.tr-update', function(){
        let tr = $(this).parents('tr'),
            name_td = tr.find('.td-name'),
            type_td = tr.find('.td-type'),
            code_td = tr.find('.td-code'),
            name = tr.attr('data-name'),
            type_id = tr.attr('data-type-id'),
            code = tr.attr('data-code');
        name_td.html('<input type="text" name="name" maxlength="32" class="form-control"' +
            ' value="' + name + '" placeholder="请输入名称" autocomplete="off">');
        type_td.html(type_html);
        type_td.find('select').val(type_id);
        code_td.html('<input type="text" name="code" class="form-control" value="' + code + '" maxlength="6" minlength="6" placeholder="基金/股票" autocomplete="off">');
        tr.find('.tr-update').addClass('d-none');
        tr.find('.tr-submit').removeClass('d-none');
        tr.find('.tr-delete').addClass('d-none');
        tr.find('.tr-cancel').removeClass('d-none');
    });

    dataTbody.on('click', '.tr-cancel', function(){
        let tr = $(this).parents('tr'),
            name_td = tr.find('.td-name'),
            type_td = tr.find('.td-type'),
            code_td = tr.find('.td-code'),
            name = tr.attr('data-name'),
            type_name = tr.attr('data-type-name'),
            code = tr.attr('data-code');
        name_td.text(name);
        type_td.text(type_name);
        code_td.text(code);
        tr.find('.tr-update').removeClass('d-none');
        tr.find('.tr-submit').addClass('d-none');
        tr.find('.tr-delete').removeClass('d-none');
        tr.find('.tr-cancel').addClass('d-none');
    });

    dataTbody.on('click', '.tr-delete', function () {
        let tr=$(this).parents('tr'),
            id=tr.attr('data-id'),
            delete_btn=getDeleteBtn(tr);
        if(tr.hasClass('clone-tr')){tr.remove()}
        else{
            tr.addClass('tr-danger');
            bootbox.confirm('确认删除吗？', function (result) {
                if(result){
                    disableBtn(delete_btn);
                    $.ajax({
                        url: '{{ url_for('setting.fp_delete') }}',
                        type: 'GET',
                        dataType: 'json',
                        data: {'id': id},
                        success: function (r) {
                            if(r['code']===0){trRemove(tr)}
                            else{
                                tr.removeClass('tr-danger');
                                trError(tr,r['msg'])
                                resumeBtn(delete_btn,'d')
                            }
                        }
                    })
                }else{tr.removeClass('tr-danger')}
            })
        }
    })
});


function fpUpdate(tr) {
    // 理财产品添加或修改
    let code_types=new Array([3, 4, 5, 9]),
        id = tr.attr('data-id'),
        submit_btn = getSubmitBtn(tr),
        update_btn = getUpdateBtn(tr),
        cancel_btn = getCancelBtn(tr),
        delete_btn = getDeleteBtn(tr),
        name_input = tr.find('input[name="name"]'),
        code_input = tr.find('input[name="code"]'),
        old_name = tr.attr('data-name'),
        old_type_id = tr.attr('data-type-id'),
        old_type_name = tr.attr('data-type-name'),
        old_code = tr.attr('data-code'),
        new_name = name_input.val(),
        new_type = tr.find('select').val(),
        new_code = code_input.val();
    if(!new_name){return false}
    if(new_name === old_name && new_type === old_type_id && new_code === old_code){
        showBtns([update_btn,delete_btn]);
        hideBtns([submit_btn,cancel_btn]);
        tr.children('.td-name').text(old_name);
        tr.children('.td-type').text(old_type_name);
        tr.children('.td-code').text(old_code);
        return true
    }

    if (code_types.includes(new_type) && !new_code){
        trError(tr,'股票或基金请填写代码')
        return false
    }
    disableBtn(submit_btn);{# 保存按钮disabled #}

    $.ajax({
        url: '{{ url_for('setting.fp_update') }}',
        type: 'POST',
        dataType: 'json',
        data: {'id': id, 'name': new_name, 'fp_type': new_type, 'fp_code': new_code},
        success: function (r) {
            if(r['code']===0){
                trSuccess(tr)
                tr.attr('data-name', r['name']);
                tr.attr('data-type-id', new_type);
                tr.attr('data-type-name', r['fp_type']);
                tr.attr('data-code', r['fp_code']);
                tr.find('.td-name').text(r['name']);
                tr.find('.td-type').text(r['fp_type']);
                tr.find('.td-code').text(r['fp_code']);
                hideBtns([cancel_btn,submit_btn]);
                showBtns([update_btn,delete_btn]);
                tr.removeClass('clone-tr');
                resumeBtn(submit_btn,'s');
            }
            else{
                trError(tr, r['msg'])
                resumeBtn(submit_btn,'s')
            }
        }
    })
}

function tFilter() {
    let type_id = $('#type_filter').val();
    window.location.href = '?type=' + type_id
}

</script>
{% endblock %}